PL_AUDIT_EMAIL.DataPipeline/pipeline-content.json
{
  "properties": {
    "activities": [
      {
        "name": "Lookup_ENV_VARIABLES",
        "type": "Lookup",
        "dependsOn": [],
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "typeProperties": {
          "source": {
            "type": "DelimitedTextSource",
            "storeSettings": {
              "type": "LakehouseReadSettings",
              "recursive": true,
              "enablePartitionDiscovery": false
            },
            "formatSettings": {
              "type": "DelimitedTextReadSettings"
            }
          },
          "datasetSettings": {
            "annotations": [],
            "linkedService": {
              "name": "72813a65_a8eb_4525_858b_a81c4ef90d42",
              "properties": {
                "annotations": [],
                "type": "Lakehouse",
                "typeProperties": {
                  "workspaceId": "@pipeline().DataFactory",
                  "artifactId": "@variables('DE_LH_CLEAN_ID')",
                  "rootFolder": "Files"
                }
              }
            },
            "type": "DelimitedText",
            "typeProperties": {
              "location": {
                "type": "LakehouseLocation",
                "fileName": "ENV_INFO.json",
                "folderPath": "ENV_VARIABLES"
              },
              "columnDelimiter": ",",
              "escapeChar": "\\",
              "firstRowAsHeader": true,
              "quoteChar": "\""
            },
            "schema": []
          }
        }
      },
      {
        "name": "Lookup MAIN_PIPELINE_RUN_DETAILS",
        "type": "Lookup",
        "dependsOn": [
          {
            "activity": "Lookup_ENV_VARIABLES",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "typeProperties": {
          "source": {
            "type": "DataWarehouseSource",
            "sqlReaderQuery": "SELECT SOURCE, PL_NAME, STATUS, CAST(STARTTIME AS TIME(0)) AS STARTTIME, CAST(ENDTIME AS TIME(0)) AS ENDTIME, DURATION\r\nFROM [AUDIT].[MAIN_PIPELINE_RUN_DETAILS]\r\nWHERE SOURCE = '@{pipeline().parameters.PL_NAME}' AND IS_LATEST_RUN = 1 AND RUN_DATE = CAST(GETDATE() AS DATE)\r\nORDER BY STARTTIME;",
            "queryTimeout": "02:00:00",
            "partitionOption": "None"
          },
          "firstRowOnly": false,
          "datasetSettings": {
            "annotations": [],
            "linkedService": {
              "name": "769b6569_d56e_4eda_bfb3_3e4c8358529c",
              "properties": {
                "annotations": [],
                "type": "DataWarehouse",
                "typeProperties": {
                  "endpoint": "@activity('Lookup_ENV_VARIABLES').output.firstRow.DW_CONNECTION_STRING",
                  "artifactId": "@activity('Lookup_ENV_VARIABLES').output.firstRow.DW_WH_AGGREGATE",
                  "workspaceId": "@pipeline().DataFactory"
                }
              }
            },
            "type": "DataWarehouseTable",
            "schema": [],
            "typeProperties": {}
          }
        }
      },
      {
        "name": "Lookup All PL Run Check",
        "type": "Lookup",
        "dependsOn": [
          {
            "activity": "Lookup_ENV_VARIABLES",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "typeProperties": {
          "source": {
            "type": "DataWarehouseSource",
            "sqlReaderQuery": "SELECT COUNT(*) AS COUNT\r\nFROM AUDIT.MAIN_PIPELINE_RUN_DETAILS\r\nWHERE RUN_DATE = CAST(GETDATE() AS DATE) AND IS_LATEST_RUN = 1\r\nORDER BY STARTTIME;",
            "queryTimeout": "02:00:00",
            "partitionOption": "None"
          },
          "firstRowOnly": false,
          "datasetSettings": {
            "annotations": [],
            "linkedService": {
              "name": "769b6569_d56e_4eda_bfb3_3e4c8358529c",
              "properties": {
                "annotations": [],
                "type": "DataWarehouse",
                "typeProperties": {
                  "endpoint": "@activity('Lookup_ENV_VARIABLES').output.firstRow.DW_CONNECTION_STRING",
                  "artifactId": "@activity('Lookup_ENV_VARIABLES').output.firstRow.DW_WH_AGGREGATE",
                  "workspaceId": "@pipeline().DataFactory"
                }
              }
            },
            "type": "DataWarehouseTable",
            "schema": [],
            "typeProperties": {}
          }
        }
      },
      {
        "name": "ForEach1",
        "type": "ForEach",
        "dependsOn": [
          {
            "activity": "Lookup MAIN_PIPELINE_RUN_DETAILS",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "typeProperties": {
          "items": {
            "value": "@activity('Lookup MAIN_PIPELINE_RUN_DETAILS').output.value",
            "type": "Expression"
          },
          "isSequential": true,
          "activities": [
            {
              "name": "Set CURRENT_VAL",
              "type": "SetVariable",
              "dependsOn": [],
              "policy": {
                "secureOutput": false,
                "secureInput": false
              },
              "typeProperties": {
                "variableName": "CURRENT_VAL",
                "value": {
                  "value": "@concat(variables('CONCAT_VAL'), \n    '<tr><td>', item().PL_NAME,\n    '</td><td>', item().SOURCE,\n    '</td><td>', \n    if(equals(item().status, 'SUCCESS'), variables('SUCCESS'), if(equals(item().status, 'FAIL'), variables('FAIL'), variables('SKIPPED')))\n    ,\n    '</td><td>', item().STARTTIME,\n    '</td><td>', item().ENDTIME,\n    '</td><td>', item().DURATION,\n'</td></tr>')",
                  "type": "Expression"
                }
              }
            },
            {
              "name": "Set CONCAT_VAL",
              "type": "SetVariable",
              "dependsOn": [
                {
                  "activity": "Set CURRENT_VAL",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "policy": {
                "secureOutput": false,
                "secureInput": false
              },
              "typeProperties": {
                "variableName": "CONCAT_VAL",
                "value": {
                  "value": "@variables('CURRENT_VAL')",
                  "type": "Expression"
                }
              }
            }
          ]
        }
      },
      {
        "name": "Set TABLE",
        "type": "SetVariable",
        "dependsOn": [
          {
            "activity": "ForEach1",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "secureOutput": false,
          "secureInput": false
        },
        "typeProperties": {
          "variableName": "TABLE",
          "value": {
            "value": "@concat(\n  '<p>Pipeline Run Details:</p>',\n  '<table border=\"1\">',\n  '<tr>\n    <th>PL_NAME</th>\n    <th>SOURCE</th>\n    <th>STATUS</th>\n    <th>START_TIME</th>\n    <th>END_TIME</th>\n    <th>DURATION</th>\n   </tr>',\n  variables('CONCAT_VAL'),\n  '</table>'\n)",
            "type": "Expression"
          }
        }
      },
      {
        "name": "Office 365 PL",
        "type": "Office365Outlook",
        "dependsOn": [
          {
            "activity": "Set TABLE",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "typeProperties": {
          "inputs": {
            "method": "post",
            "path": "/v2/Mail",
            "body": {
              "To": "@activity('Lookup_ENV_VARIABLES').output.firstRow.EMAIL.ACCORDION_DE",
              "Subject": "@concat(pipeline().parameters.PL_NAME, ' Run Details')",
              "Body": "<p>@{variables('TABLE')}</p>",
              "Sensitivity": "",
              "Importance": "Normal"
            }
          }
        }
      }
    ],
    "parameters": {
      "PL_NAME": {
        "type": "string"
      }
    },
    "variables": {
      "DE_LH_CLEAN_ID": {
        "type": "String"
      },
      "TABLE": {
        "type": "String"
      },
      "CONCAT_VAL": {
        "type": "String"
      },
      "CURRENT_VAL": {
        "type": "String"
      },
      "SUCCESS": {
        "type": "String",
        "defaultValue": "<p style=\"color: green;\">SUCCESS</p>"
      },
      "FAIL": {
        "type": "String",
        "defaultValue": "<p style=\"color: red;\">FAIL</p>"
      },
      "SKIPPED": {
        "type": "String",
        "defaultValue": "<p style=\"color: orange;\">SKIPPED</p>"
      }
    },
    "logicAppsConnectionPayload": {
      "id": "/subscriptions/f7cccd55-822e-4145-88cc-1c15e099919a/resourceGroups/connections-cf6b9fab-9075-4a96-9da7-cdd8f4007577/providers/Microsoft.Web/connections/1_0d031981-8065-4021-bcaa-b358a67d6bb4_2dc428c4-bcf5-4644-8272-f1df1d9d6e21",
      "properties": {
        "api": {
          "name": "office365",
          "id": "/subscriptions/f7cccd55-822e-4145-88cc-1c15e099919a/providers/Microsoft.Web/locations/centralindia/managedApis/office365"
        }
      }
    }
  }
}